<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL SHORTNER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body >
    <div>
        <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">URL SHORTNER</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://github.com/szzd7223/URL-Shortener">Github Repository</a>
                  
                </ul>
                
              </div>
            </div>
          </nav>
    </div>

    <div>

        {% if alert %}
        <div class="lg-4 mb-4 m-4 alert alert-info" role="alert">
            <p>{{ alert }}</p>
        </div>
        {% endif %}

        {% if shorturl %}
        <div class="lg-4 mb-4 m-4 alert alert-info" role="alert">
            <p>Shortened URL: <a href="{{ shorturl }}">{{ baseurl }}/{{ shorturl }}</a></p>
        </div>
        {% endif %}

    </div>

    <div class="lg-4 mb-4"></div>
    <div class="lg-4 mb-4" style="text-align: center ; width:75%;height: auto;margin-left:auto ;margin-right: auto;">
        <form action="/" method="POST" class="mx-auto t-5 w-50">
            <div class="mb-3 m-4">
                <div><p><h1><strong>URL to Shorten</strong></h1>
                </p></div>
                <label for="exampleInput" class="form-label">Enter the Url Here:</label>
                <input type="textbox" class="form-control" name="long_url">
            </div>
            <div class="d-grid mx-auto b-2 m-2" style="width:55%">
                <button type="submit" class="btn btn-dark b-2">Shorten URL</button>
            </div>
        </form>
    </div>
    <div class="lg-4 mb-4"></div>

</body>
</html>